<h1> ALL Cohorts </h1>

<% @cohorts.each do |cohort| %>
<h2><li><%= cohort.name %> </li></h2>
<h3><li><%= cohort.start_date %> </li></h3>
<h4><li><%= cohort.end_date %> </li><br></h4>

<li> <%= cohort.course.name %> </li>


<%= link_to "Edit Cohort", edit_cohorts_path(cohort) %><br>
<% end %>
