<h1> Create a Cohorts </h1>

<%= form_with model: @cohort, url: cohorts_path(@course), method: :post do |f| %>
<%= f.label :name %>
<%= f.text_field :name %><br> 

<%= f.label :start_date %>
<%= f.date_field :start_date %><br>

<%= f.label :end_date %>
<%= f.date_field :end_date %><br>

<%= f.hidden_field :student_id, value: @student_id%>
<%=f.select :student_id, @students.map {|student| [student.first_name,student.id]} %>

<%= f.hidden_field :course_id, value: @course_id%>
<%=f.select :course_id, @courses.map {|course| [course.name,course.id]} %>

<%= f.label :create_cohorts%>
<%= f.submit %>

<% end %>