<h1>Cohort</h1>

<h2><%= @cohort.name %><br></h2>
Start Date: <%= @cohort.start_date %><br>
End date: <%= @cohort.end_date %><br>
Course: <%= @cohort.course.name %><br>
Instructor: <%= @cohort.instructor.first_name %><br>
<h3> Students <h3>
<% @cohort.students.each do |student| %>
<%= student.first_name%> <%=student.last_name%><br>


<%end%> <br>

<%= link_to 'Remove cohort', delete_cohort_path, method: :delete, data: { confirm: 'Are you sure?' } %>