<h1>Cohort</h1>

<%= @cohort.start_date %><br>
<%= @cohort.end_date %><br>
<%= @cohort.course.name %><br>

<%@students.each do |student|%>
<%=student.first_name%><br>
<%end%>

<%= link_to 'Remove cohort', delete_cohort_path, method: :delete, data: { confirm: 'Are you sure?' } %>