
<h1> Students </h1> 

<% @students.each do |student| %>

<h2><%= student.first_name %> <%= student.last_name %></h2>
<li>Age: <%= student.age %> </li>
<li>Education: <%= student.education %></li><br>

<% end %>

 <%= link_to "Add Students", new_student_path %>
