<h1> Students </h1> 

<% @students.each do |student| %>

<li><%= student.first_name %> </li>
<li><%= student.last_name %> </li>
<li><%= student.age %> </li>
<li><%= student.education %></li><br>

<%= link_to "Edit student", edit_student_path(student) %><br>
<% end %>

