
<h1> Students </h1>
<button class = "button">
<div class= "right">
 <%= link_to "Add Students", new_student_path %>
</button>



<% @students.each do |student| %>

<h2><%= student.first_name %> <%= student.last_name %></h2> 
<li>Age: <%= student.age %> </li>
<li>Education: <%= student.education %></li><br>

<button class = "button2">
<%= link_to "Edit Student", edit_student_path(student) %><br>
</button>

<button class = "button2">
<%= link_to 'Remove student', delete_student_path(student), method: :delete, data: { confirm: 'Are you sure?' } %><br>
</button>
<% end %>
