<h2><%= @student.first_name  %> <%=  @student.last_name %></h2><br>
 Age: <%=  @student.age %><br>
Education: <%= @student.education %><br>


<%= link_to 'Remove', delete_student_path, method: :delete, data: { confirm: 'Are you sure?' } %>