<h1> Instructors </h1> 
<h3 class = "right">
<%= link_to "New Instructor", new_instructor_path %>
</h3>
<% @instructors.each do |instructor| %>

<h2><%= instructor.first_name %> <%= instructor.last_name %> </h2>
<li>Age: <%= instructor.age %> </li>
<li>Salary: <%= instructor.salary %></li>
<li>Education: <%= instructor.education %></li><br>
<li>Cohort: <%= instructor.cohort.name%></li><br>
<%= link_to "Edit Instructor", edit_instructor_path(instructor) %><br>
<%= link_to 'Remove instructor', delete_instructor_path(instructor), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>