<h1> Instructors </h1>

<% @instructors.each do |instructor| %>

<li><%= instructor.first_name %> </li>
<li><%= instructor.last_name %> </li>
<li><%= instructor.age %> </li>
<li><%= instructor.salary %></li>
<li><%= instructor.education %></li><br>
<li><%= instructor.cohort.name%></li><br>
<%= link_to "Edit Instructor", edit_instructor_path(instructor) %><br>
<% end %>
