<h1> Create Instructors </h1>

<%= form_with model: @instructor, url: instructors_path, method: :post do |f| %>
<%= f.label :first_name %>
<%= f.text_field :first_name %><br> 

<%= f.label :last_name %>
<%= f.text_field :last_name %><br>

<%= f.label :age %>
<%= f.text_field :age %><br>

<%= f.label :salary %>
<%= f.text_field :salary %><br>

<%= f.label :education %>
<%= f.text_field :education %><br>

<%= f.label :create_student%>
<%= f.submit %>

<% end %>