<h1> Create Instructors </h1>

<%= form_with model: @instructor, url: instructors_path, method: :post do |f| %>
<%= f.label :first_name %>
<%= f.text_field :first_name %><br> 

<%= f.label :last_name %>
<%= f.text_field :last_name %><br>

<%= f.label :age %>
<%= f.text_field :age %><br>

<%= f.label :salary %>
<%= f.text_field :salary %><br>

<%= f.label :education %>
<%= f.select(:education, ["HS", "B.D", "M.D", "Ph.D"]) %><br>

<%= f.label :cohort %><br>
<%=f.hidden_field :cohort_id, value: @cohort_id%>
<%= f.select :cohort_id, @cohorts.map {|cohort| [cohort.name,cohort.id]}%>

<%= f.label :create_instructor%>
<%= f.submit %>

<% end %>