<h2> Instructor </h2>

<%= @instructor.first_name %><br>
<%= @instructor.last_name %><br>
<%= @instructor.age %><br>
<%= @instructor.salary %><br>
<%= @instructor.education %><br>

<%= link_to 'Remove instructor', delete_instructor_path, method: :delete, data: { confirm: 'Are you sure?' } %><br>
