<h2> Instructor </h2>

<%= @instructor.first_name %>
<%= @instructor.last_name %>
<%= @instructor.age %>
<%= @instructor.salary %>
<%= @instructor.education %>

<%= link_to 'Remove instructor', delete_instructor_path, method: :delete, data: { confirm: 'Are you sure?' } %>
