<h1> Edit Courses </h1>

<%= form_with model: @course, url: course_path, method: :patch do |f| %>
<%= f.label :name %>
<%= f.text_field :name %><br> 

<%= f.label :hours %>
<%= f.text_field :hours %><br>

<%= f.label :create_course%>
<%= f.submit %>

<% end %>