<h1>  Create Courses </h1>

<%= form_with model: @course, url: courses_path, method: :post do |f| %>
<%= f.label :name %>
<%= f.text_field :name %><br> 

<%= f.label :hours %>
<%= f.text_field :hours %><br>

<%= f.label :create_class%>
<%= f.submit %>

<% end %>

