<!DOCTYPE html>
<html>
  <head>
    <title>Admin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
  <%= link_to "Home", root_path %>
  <%= link_to "Students", students_path %>
  <%= link_to "New Students", new_student_path %>
  <%= link_to "Instructors", instructors_path  %>
  <%= link_to "New Instructor", new_instructor %>
  
  </nav>
    <%= yield %>
  </body>
</html>
